<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.intro %}{{ page.intro | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
  <meta name="referrer" content="always">
  <link rel="stylesheet" type="text/css" href="/css/main.css" media="all">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.url }}" />
  <link rel="author" href="humans.txt" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

{% assign full_url = site.baseurl | prepend: site.url %}

{% capture page_title %}
{% if page.title %}
{{ page.title | append: " - " | append: site.title }}
{% else %}
{{ site.title }}
{% endif %}
{% endcapture %}
{% assign page_title = page_title | strip_newlines | join " " %}

{% capture page_image %}
{% if page.img %}
{{ page.img | prepend: page.url | prepend: "images" | prepend: full_url }}
{% else %}
{{ site.image | prepend: full_url }}
{% endif %}
{% endcapture %}
{% assign page_image = page_image | strip_newlines | join " " %}

{% capture page_url %}
{{ page.url | replace:'/','' | prepend: full_url | append: '/' }}
{% endcapture %}
{% assign page_url = page_url | strip_newlines | join " " %}

{% capture page_description %}
{% if page.intro %}
{{ page.intro }}
{% else %}
{{ site.description }}
{% endif %}
{% endcapture %}
{% assign page_description = page_description | strip_newlines %}

    <!-- Social Meta Madness -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:creator" content="@huphtur">
  <meta name="twitter:title" content="{{ page_title }}">
  <meta name="twitter:description" content="{{ page_description }}">
  <meta name="twitter:image" content="{{ page_image }}">

  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:url" content="{{ page_url }}" />
  <meta property="og:image" content="{{ page_image }}" />
  <meta property="og:description" content="{{ page_description }}" />
  <meta property="fb:app_id" content="221690254955033" />
  <meta property="og:site_name" content="{{ site.title }}" />

  <!-- RealFaviconGenerator -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/images/favicons/manifest.json">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/images/favicons/favicon.ico">
  <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

</head>
